/* section-2 */
.section-2 {
  height: 125px;
  padding: 3% 2% 2% 2% !important;
  background-color: #c6bfa5;
}

.see-all-products{
  width: 205px;
  height: 52px;
  color: #ffffff;
  font-size: 13px;
  background-color: #661a00;
  border:1px solid #661a00;
  text-transform: uppercase;
}